* {
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1,h3,h4 {
    text-align: center;
    
}
img {
    margin: 30px auto;
    height: 400px;
    width: 400px;
    display: block;
}
a {
    text-decoration: none;
    background-color: blue;
    margin: 10px auto;
    color: red;
}
a:hover {
    color: blue;
    background-color: white;
}
h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    font: italic;
}