/*style for the index file*/
* {
    background-color: black;
    text-align: center;
    outline: ;
}
a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: green;
    background-color: white;
    border: green 2px solid;
    display: block;

}

h1 {
    color: white;
}
ul {
    list-style-type: none; 
    padding-left: 0;
    font-size: xx-large;
    color: black;
}
.pizza, .hamburger, .chicken {
    width: 300px;
    background-color: green;
    color: white;
    border: white 1px solid;
    margin: auto;
    display: block;
}
img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 5px auto;
    margin-bottom: 20px;
}
h5 {
    color: white;
}